@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    background-color: rgba(1, 36, 17, 0.746);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(161, 253, 205, 0.424);
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.759);
    transition: width 1s, height 1s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login>div#imagem {
    display: block;
    background: rgb(0, 22, 15) url(../imagem/pexels-sora-shimazaki-5935791.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: left top;


}

section#login>div#formulario {
    display: block;
    padding: 10px;
}

div.campo>i {
    font-size: 2em;
    width: 30px;
    padding: 5px;
}

div.campo>input {
    background-color: rgba(240, 248, 255, 0.552);
    font-size: 1em;
    width: calc(100% - 35px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

form>input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgba(50, 171, 125, 0.849);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form>input[type=submit]:hover {
    background-color: rgba(7, 46, 33);
}

form>a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgba(4, 57, 37, 0.645);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(11, 22, 11, 0.637);
    border-radius: 7px;
    text-decoration: none;
}

form>a.botao:hover {
    background-color: rgb(7, 46, 33);
}

form>a.botao>i {
    font-size: 0.8em;
}

form>div.campo {
    background-color: rgba(29, 100, 77, 0.784);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    border: 2px solid rgba(29, 100, 77, 0.784);
}

div.campo>label {
    display: none;
}

div.campo>input:focus-within {
    background-color: rgb(198, 247, 234);
    border: none;
}